/* Header setting */

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    height: 350px;
}

header img {
    margin: 0;
    padding: 0px 100px;
    position: absolute;
    width: 1050px;
    height: 90%;
    bottom: 0;
    z-index: -1;
    /* opacity: 0.2 */
}

header .header-title{
    color: rgb(70, 70, 70);
    font-style: normal;
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    font-weight: 200;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
}

header .header-title .main-title{
    font-style: normal;
    font-size: 40px;
    font-family: Gill Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: center;
    margin: 3%;
}

header .header-title p em{
    font-style: normal;
    font-size: 25px;
    font-style: italic;
    font-family: Cursive;
    /* font-family: Gill Sans, sans-serif; */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: center;
    margin: 3%;
}


header .header-bar{
    padding-top: 0;
}

header .site-title a {
    float: left;
    font-family: Gill Sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(70, 70, 70);
    margin-top: 10px;
    padding: 10px 0px 0px 20px;
    line-height: lem;
}

#main-navigation {
    top: 0;
    padding-top: 10px;
    float: right;
}

#main-navigation div{
    top: 0;
    float: left;
    margin: 0px 5px;
}

#main-navigation .external a{
    border: rgb(70, 70, 70);
    border-style: solid;
    border-radius: 200px;
}

#main-navigation a {
    padding: 14px 16px;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    color: rgb(70, 70, 70);
}

#main-navigation .collection-selected a{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 300px;

}

#main-navigation a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 300px;
}

#main-navigation a {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;

  }

/* Header setting End*/


.main-content-container{
    margin-left: 0%;
    margin-right: 0%;
    font-family: Gill Sans, sans-serif;
    /* background-color: salmon; */
}

.main-content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 32px;
    padding-bottom: 32px;
    /* background-color: lightblue; */
    border-radius: 10px;
    /* display: inline-block; */

    
}

.main-content .content-title h2{
    font-weight: 400;
    font-size: 36px;
    padding: 20px 0px;
    text-align: center;
    width: 100%;

}

div .main-content{
    width: 85%;
    /* background-color:yellowgreen; */
} 

.main-content .content-title p{
    width: 60%;
    font-size: 18px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px 0px;
    text-align: center;
    line-height: 1.5em;
    color: rgb(100, 100, 100);
    font-family: Gill Sans, sans-serif;
    /* background-color: antiquewhite; */

}


.content-block .content-title a {
    text-decoration: none;
    color: steelblue;
}


.content-block .link-button a {
    margin: 30px 10px;
    padding: 20px 40px;
    /* background-color: aqua; */
    text-decoration: none;
    font-weight: 500;
    color: steelblue;
    border: steelblue;
    border-style: solid;
    border-radius: 5px;


}


.content-block .link-button a:hover {
    margin: 30px 10px;
    padding: 20px 40px;
    background-color: steelblue;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border: steelblue;
    border-style: solid;
    border-radius: 5px;


}


.content-block .link-button a {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;

  }



.fake-box{
    display: inline-block;
}





div.content-block{
    text-align: center;
    /* display: flex; */
    margin-bottom: 5%;
    /* background-color: rgb(182, 25, 161); */
    border-radius: 5px;
    
    
}

.sub-content {

    display: flex;
    flex-wrap: wrap;
    
}

div.content-block p{
    padding-bottom: 2%;
}



#footer{
    padding-top: 18px;
    background-color: rgb(146, 140, 140);
    height: 180px;
}


.back-to-top-nav{
    width: 70px;
    margin-left: 93%;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    background-color: rgb(146, 175, 142);
    color: black;
    padding: 0.3%;
    border-radius: 10px;
    text-align: center;
}

.back-to-top-img{
    width: 40px;
}

.back-to-top-nav a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #231f20;
}


.footer-title {
    text-align: center;
}

/* Icon test */

.icon-list {
    margin: auto;
    /* background-color: darksalmon; */
    text-align: center;
}

.fa {
    margin: 0 5px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: rgb(51, 50, 50);
  }

  


  .icon-list .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .icon-list .social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;

  }


.icon-list #social-em:hover {
  color: #d34836;
}

.icon-list #social-li:hover {
  color: #3B5998 ;
}

.icon-list #social-gi:hover {
  color: #000;
}

